USE [master]
GO
/****** Object:  Database [WebDocSach]    Script Date: 4/5/2023 12:37:27 AM ******/
CREATE DATABASE [WebDocSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDocSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebDocSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebDocSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebDocSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDocSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDocSach]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ResetPasswordCode] [nvarchar](max) NULL,
	[ResetPasswordExpiry] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Binh_luan]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Binh_luan](
	[Ma_binh_luan] [int] NOT NULL,
	[Ma_sach] [int] NOT NULL,
	[Ma_nguoi_dung] [int] NOT NULL,
	[Noi_dung] [nvarchar](max) NOT NULL,
	[Ngay_tao] [datetime] NOT NULL,
	[Ngay_chinh_sua] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_binh_luan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[IdTheLoai] [tinyint] NOT NULL,
	[TacGia] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NOT NULL,
	[TinhTrang] [nvarchar](max) NULL,
	[UserName_Id] [nvarchar](128) NULL,
	[TheLoai_Id] [tinyint] NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_gia]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_gia](
	[Ma_danh_gia] [int] NOT NULL,
	[Ma_sach] [int] NOT NULL,
	[Diem_danh_gia] [int] NOT NULL,
	[Nguoi_danh_gia] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[UserName] [nvarchar](128) NULL,
	[UserId] [nvarchar](max) NULL,
	[Ma_sach] [int] NOT NULL,
	[Ten_sach] [nvarchar](400) NOT NULL,
	[Ten_tac_gia] [nvarchar](400) NOT NULL,
	[Ma_the_loai] [tinyint] NOT NULL,
	[Trang_thai] [nvarchar](50) NOT NULL,
	[Ngay_tao] [datetime] NOT NULL,
	[Nguon] [nvarchar](400) NULL,
	[Anh_sach] [nvarchar](255) NULL,
	[Mo_ta] [nvarchar](max) NOT NULL,
	[So_luong_trang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoais]    Script Date: 4/5/2023 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoais](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.TheLoais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [ResetPasswordCode], [ResetPasswordExpiry]) VALUES (N'2ab22c85-ef8f-48f7-a453-63b56c4a5cc4', N'emailtest12354@gmail.com', 0, N'ANtBVEJoHYBGPQKjd1MyhnUuI7Ptv+HaiR5NG1sTVhY/Ygq65xelhk+3W4DFYeiY0w==', N'2e1fa8db-be18-4117-82de-bc0bd6c74530', NULL, 0, 0, NULL, 1, 0, N'emailtest12354@gmail.com', N'', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [ResetPasswordCode], [ResetPasswordExpiry]) VALUES (N'5c5343c1-cdf7-4f69-b614-250e5a8e04cd', N'Cuong1109@gmail.com', 0, N'AHb7Hj+wtElQ72Bf9SnqtSI1cwsO4e4dUuP3O+d8pbWqPsAG9x2AtMT7bmBwBpQIkQ==', N'2cf17f82-c793-4396-92fb-9b1ac55972aa', NULL, 0, 0, NULL, 1, 0, N'Cuong1109@gmail.com', N'Hà Mạnh Cường', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [ResetPasswordCode], [ResetPasswordExpiry]) VALUES (N'd8966be0-a8ec-4b57-bc2b-2c2e3befe500', N'zxc@gmail.com', 0, N'AP3Dx4mLrejfSJJw7aYZHz92RsClXUatBpCvyrZclnn23eoe/yzVIOww2cylRCdOgw==', N'ef821cb0-cdb2-40a1-81e4-c6bae326813e', NULL, 0, 0, NULL, 1, 0, N'zxc@gmail.com', N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [UserId], [TenSach], [IdTheLoai], [TacGia], [NoiDung], [HinhAnh], [TinhTrang], [UserName_Id], [TheLoai_Id]) VALUES (12, N'5c5343c1-cdf7-4f69-b614-250e5a8e04cd', N'Tương Lai Nhân Loại', 1, N'Michio Kaku', N'Hãy để người-truyền-thông-cho-khoa-học Michio Kaku đưa bạn khám phá những “câu hỏi nóng” này của thời đại, bằng hiểu biết sâu sắc về vũ trụ, công nghệ sinh học, tên lửa hạt nhân… và bằng cách dẫn giải khó có thể khúc chiết, tường tận và thú vị hơn', N'/Content/Img/book_cnkt2.jpg', N'Gần đây', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
INSERT [dbo].[TheLoais] ([Id], [Name]) VALUES (1, N'Khoa học công nghệ – Kinh tế')
INSERT [dbo].[TheLoais] ([Id], [Name]) VALUES (2, N'Chính trị – pháp luật')
INSERT [dbo].[TheLoais] ([Id], [Name]) VALUES (3, N'Truyện, tiểu thuyết')
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Binh_luan]  WITH CHECK ADD  CONSTRAINT [FK_Binh_luan_Sach] FOREIGN KEY([Ma_sach])
REFERENCES [dbo].[Sach] ([Ma_sach])
GO
ALTER TABLE [dbo].[Binh_luan] CHECK CONSTRAINT [FK_Binh_luan_Sach]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.AspNetUsers_UserName_Id] FOREIGN KEY([UserName_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.AspNetUsers_UserName_Id]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.TheLoais_TheLoai_Id] FOREIGN KEY([TheLoai_Id])
REFERENCES [dbo].[TheLoais] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.TheLoais_TheLoai_Id]
GO
ALTER TABLE [dbo].[Danh_gia]  WITH CHECK ADD  CONSTRAINT [FK_Danh_gia_Sach] FOREIGN KEY([Ma_sach])
REFERENCES [dbo].[Sach] ([Ma_sach])
GO
ALTER TABLE [dbo].[Danh_gia] CHECK CONSTRAINT [FK_Danh_gia_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoais] FOREIGN KEY([Ma_the_loai])
REFERENCES [dbo].[TheLoais] ([Id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoais]
GO
USE [master]
GO
